altgraph==0.17.3
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
fusepy==3.0.1
html5lib==1.1
htmllistparse==0.6.1
idna==3.4
platformdirs==3.10.0
pyinstaller==5.13.1
pyinstaller-hooks-contrib==2023.7
PySimpleGUI==4.60.5
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
urllib3==2.0.4
webencodings==0.5.1
xxhash==3.3.0
